<!-- json type -->

<!--<script>-->

<!--    function getdata(){-->
<!--        $.ajax({-->
<!--          url:'newsmenu_crowling',-->
<!--          success:function(data){-->
<!--            display(data),-->
<!--            totalData = data.data.length-->
<!--          }-->
<!--        });-->
<!--    };-->

<!--    $(document).ready(function(){-->
<!--        getdata();-->
<!--    });-->

<!--    function display(data){-->
<!--        var output = '';-->

<!--&lt;!&ndash;        output += '<thead>' + '<tr>' + '<th>'&ndash;&gt;-->
<!--&lt;!&ndash;        output += '뉴스 기사 제목'&ndash;&gt;-->
<!--&lt;!&ndash;        output += '</th>' + '</tr>' + '</thead>'&ndash;&gt;-->
<!--&lt;!&ndash;        output += '<tbody>'&ndash;&gt;-->
<!--        for(var i in data){-->
<!--            output += '<tr>'-->
<!--            output += '<th>'-->
<!--            output += '<a href = "'-->
<!--            output += data[i].url-->
<!--            output += '">'-->
<!--            output += data[i].title-->
<!--            output += '</a>'-->
<!--            output += '</th>'-->
<!--            output += '</tr>'-->
<!--        }-->
<!--&lt;!&ndash;        output += '</tbody>'&ndash;&gt;-->

<!--&lt;!&ndash;        document.getElementById("datatablesSimple").innerHTML = output;&ndash;&gt;-->
<!--        $("tbody").html(output)-->
<!--    }-->

<!--</script>-->
<!--<script>-->
<!--&lt;!&ndash; 6자리 숫자가 아닐시 앞에 0을 추가해주는 함수 &ndash;&gt;-->
<!--function leadingZeros(n, digits) {-->
<!--  var zero = '';-->
<!--  n = n.toString();-->

<!--  if (n.length < digits) {-->
<!--    for (var i = 0; i < digits - n.length; i++)-->
<!--      zero += '0';-->
<!--  }-->
<!--  return zero + n;-->
<!--}-->

<!--  function day(code){-->
<!--    var strcode = leadingZeros(code, 6)-->
<!--    var result = '';-->
<!--    result += '<img src="https://ssl.pstatic.net/imgfinance/chart/item/candle/day/'-->
<!--    result += strcode-->
<!--    result += '.png?sidcode=1643450737002">'-->

<!--    document.querySelector('#graph').innerHTML = result;-->
<!--  };-->

<!--  function week(code){-->
<!--    var strcode = leadingZeros(code, 6)-->
<!--    var result = '';-->
<!--    result += '<img src="https://ssl.pstatic.net/imgfinance/chart/item/candle/week/'-->
<!--    result += strcode-->
<!--    result += '.png?sidcode=1643450737002">';-->

<!--    document.querySelector('#graph').innerHTML = result;-->
<!--  };-->

<!--  function month(code){-->
<!--    var strcode = leadingZeros(code, 6)-->
<!--    var result = '';-->
<!--    result += '<img src="https://ssl.pstatic.net/imgfinance/chart/item/candle/month/'-->
<!--    result += strcode-->
<!--    result += '.png?sidcode=1643450737002">';-->

<!--    document.querySelector('#graph').innerHTML = result;-->
<!--  };-->
<!--</script>-->

<script>
//관심 종목 등록
function insert() {
    var formData = $('#form_insert').serialize()
    console.log(formData)
    $.ajax({
        url: "bookmark_insert",
        type: "POST",
        cache: false,
        data: formData,
        success: function(data){
            if(data == "ok"){
                alert("관심 종목 담기 완료.");
            }else{
                alert("이미 등록된 관심 종목입니다.");
            }
        },
        error: function(jqXHR, textstatus, errorthrown){
            console.log("error : " + jqXHR + ", " + textstatus + ", " + errorthrown)
        }
    })
}
</script>
<script>
//관심 종목 삭제
function del() {
    var formData = $('#form_delete').serialize()
    console.log(formData)
    $.ajax({
        url: "bookmark_delete",
        type: "POST",
        cache: false,
        data: formData,
        success: function(data){
            if(data == "ok"){
                alert("관심 종목 삭제 완료.");
            }else{
                alert("관심 등록되지 않은 종목입니다.");
            }
        },
        error: function(jqXHR, textstatus, errorthrown){
            console.log("error : " + jqXHR + ", " + textstatus + ", " + errorthrown)
        }
    })
}
</script>
<script>
//주가 예측 대기
function loading(){

    var output1 = '';
    var output2 = '';

    output1 += '<img style="width:300px; height:300px;" src="https://t1.daumcdn.net/cfile/tistory/233F6D505786DA870A">'
    output2 += '딥러닝(LSTM) 학습중... 주가 예측 분석 소요시간 약 5분내외로 예상되오니 잠시만 기다려주십시오.'

    document.getElementById("loadingimg").innerHTML = output1;
    document.getElementById("loadingmsg").innerHTML = output2;
}
</script>
{% if detailm != None %}
    {% include detailm %}
{% else %}
<script></script>
{% endif %}
<!--메인 시작-->
            <div id="layoutSidenav_content">

                <main>
                    <div class="container-fluid px-4">
                        <ol class="breadcrumb mb-4"></ol>
                        {% for i in items %}

                            {% if request.session.sessionid == None %}
                            <h1 style="color:black; text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;">
                                {{i.name}}
                            </h1>
                            {% else %}
                            <h1 style="color:black; text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;">
                                {{i.name}}
                                <form id="form_insert" name="form_insert" method="POST" style="display:inline">
                                {% csrf_token %}
                                    <input style="background:none; width:800px; border:0px;" type="hidden" value="{{i.name}}" name="bookmarkstockname_insert"/>
                                    <input style="background:none; width:800px; border:0px;" type="hidden" value="{{i.url}}" name="bookmarkurl_insert"/>
                                    <input class="btn btn-primary" type="button" onclick="insert(); return false" value="관심 종목 담기">
                                </form>
                                <form id="form_delete" name="form_delete" method="POST" style="display:inline">
                                {% csrf_token %}
                                    <input style="background:none; width:800px; border:0px;" type="hidden" value="{{i.name}}" name="bookmarkstockname_delete"/>
                                    <input style="background:none; width:800px; border:0px;" type="hidden" value="{{i.url}}" name="bookmarkurl_delete"/>
                                    <input class="btn btn-primary" type="button" onclick="del(); return false" value="관심 종목 삭제">
                                </form>
                            </h1>
                            {% endif %}

                        <ol class="breadcrumb mb-4"></ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <table class="dataTable-table">
                                    <tbody>
                                        <h2 style="display:inline">현재가 : </h2>
                                        <h2 style="display:inline">{{i.price}}</h2>
                                        {% if request.session.sessionid == None %}

                                        {% else %}
                                            <form action="predict_page" method="post">
                                            {% csrf_token %}
                                                <h1 style="background:none;"><button class="btn btn-primary" value="{{name}}" type="submit" onclick="loading()" name="stock-name">주가 예측하기</button></h1>
                                                <h1 id="loadingimg"></h1>
                                                <h6 id="loadingmsg"></h6>
                                            </form>
                                        {% endif %}
                                    </tbody>
                                </table>
                                <table class="dataTable-table">
                                    <tbody>
                                        {% if i.p_eve_price|slice:':1' == '+' %}
                                        <tr>
                                            <th style="text-align:center">전일대비</th>
                                            <td style="color:red">{{i.p_eve_price}}</td>
                                            <th style="text-align:center">등락률</th>
                                            <td style="color:red">{{i.eve_price_rate}}</td>
                                        </tr>
                                        {% elif i.p_eve_price|slice:':1' == '-' %}
                                        <tr>
                                            <th style="text-align:center">전일대비</th>
                                            <td style="color:blue">{{i.p_eve_price}}</td>
                                            <th style="text-align:center">등락률</th>
                                            <td style="color:blue">{{i.eve_price_rate}}</td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <th style="text-align:center">전일대비</th>
                                            <td style="color:green">{{i.p_eve_price}}</td>
                                            <th style="text-align:center">등락률</th>
                                            <td style="color:green">{{i.eve_price_rate}}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <table class="dataTable-table">
                                    <tbody>
                                    <tr>
                                        <th style="text-align:center">전일</th>
                                        <td>{{i.eve_price}}</td>
                                        <th style="text-align:center">고가</th>
                                        <td style="color:red">{{i.h_price}}</td>
                                        <th style="text-align:center">거래량</th>
                                        <td>{{i.trace}}</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center">시가</th>
                                        <td style="color:green">{{i.m_price}}</td>
                                        <th style="text-align:center">저가</th>
                                        <td style="color:blue">{{i.l_price}}</td>
                                        <th style="text-align:center">거래대금</th>
                                        <td>{{i.trace_price}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table>

                                    <form action="detail_daygraph" method="post">
                                    {% csrf_token %}
                                        <button class="btn btn-primary" value="{{i.url}}" type="submit" name="detail_url_day">일봉</button>
                                    </form>
                                    <a> </a>
                                    <form action="detail_weekgraph" method="post">
                                    {% csrf_token %}
                                        <button class="btn btn-primary" value="{{i.url}}" type="submit" name="detail_url_week">주봉</button>
                                    </form>
                                    <a> </a>
                                    <form action="detail_monthgraph" method="post">
                                    {% csrf_token %}
                                        <button class="btn btn-primary" value="{{i.url}}" type="submit" name="detail_url_month">월봉</button>
                                    </form>
                                    {% if center2 != None %}
                                        {% include center2 %}
                                    {% else %}
                                    <div id="graph">
                                    <img width="100%" src="https://ssl.pstatic.net/imgfinance/chart/item/candle/day/{{i.code}}.png?sidcode=1643450737002">
<!--                                    <img src="https://ssl.pstatic.net/imgfinance/chart/item/candle/week/{{i.code}}.png?sidcode=1643450737002">-->
<!--                                    <img src="https://ssl.pstatic.net/imgfinance/chart/item/candle/month/{{i.code}}.png?sidcode=1643450737002">-->
                                    </div>
                                    {% endif %}
                                </table>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    '{{i.name}}' 연관 뉴스 메뉴
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">제목</th>
                                                <th style="text-align:center">언론사</th>
                                                <th style="text-align:center">등록 날짜/시간</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in itemlist %}
                                            <tr>
                                                <td><a href="{{i.link}}" target="_blank">{{i.title}}</a></td>
                                                <td>{{i.press}}</td>
                                                <td>{{i.dtime}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </main>
            </div>
